.products-admin h2 {
    font-size: 24px;
}

.all-products .product {
    display: grid;
    grid-template-columns: 20fr 25fr 20fr 20fr 20fr 5fr;
    align-items: center;
    margin-top: 24px;
    padding: 12px 16px;
    background-color: rgb(241, 241, 241);
}

.all-products img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
}

.add-product-nav {
    background-color: orangered;
    padding: 10px 0;
    display: block;
    width: 50%;
    margin: 24px auto;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.all-category h2 {
    text-align: center;
}

.cate {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.all-category input {
    width: 600px;
    margin: 15px auto;
    padding: 8px;
    display: block;
}